{% extends "accounts/base.html" %}

{% load static %}

{% block title %} Delete User {% endblock %}

{% block js %}
  <script src="{% static 'accounts/js/deleteUser.js' %}" type="text/javascript"></script>
{% endblock %}
<a  class = "homepage" href ="{% url 'index'  %}"> Back to Homepage </a>
{% block body %}
<a  class = "homepage" href ="{% url 'index'  %}"> Back to Homepage </a>
<h1> Deleting an User !!! </h1>
<form action ="{% url 'deleteUserForm' %}" method = "post">
    {% csrf_token %}
    <div id ="result"> </div>
    <div class="container">
      <select id="select" class ="custom-select" name = "userObj">
        <option value = "0">---- ---- ---- ----</option>
        {% for user in users %}
         <option value = "{{user.id}}">{{user}}</option>
        {% endfor %}
      </select>
      <input class ="submit"  type ="submit" value = "Submit" />
    </div>
</form>
{% endblock %}
