{% extends "accounts/base.html"  %}
{% load static %}

{% block title %} Fill form {% endblock %}

{% block js %}
  <script src= "{% static 'accounts/js/existingUserNewAccount.js' %}" type="text/javascript"></script>
  <script>
  var btnChecked = 1;
  function getChecked(i) {
    if(btnChecked == i) {
      document.getElementsByTagName("input")[i-1].checked = false;
      btnChecked = ""
    }
    else{
      btnChecked = 1;
    }
  }
</script>
{% endblock %}

{% block body %}
<a  class = "homepage" href ="{% url 'index'  %}"> Back to Homepage </a>


<h1> Opening New Account !!! </h1>
<div class="container">
    <input id = "single" class ="checkmark" type = "checkbox" value ="single" onclick =getChecked(1) checked> Single</input>
</div>

 <form action ="{% url 'accountInfoEntry' %}" method = "post">
   {% csrf_token %}
   <div id ="result"> </div>
   <div class ="container">
     <label class= "label" > Date : </label>
     <input class = "field" id = "date" type = "date" name = "date"/><br><br>
     <select id = "select" class ="custom-select" name = "userObj">
       <option value ="0"> ---- ---- ---- ---- </option>
       {% for user in users %}
        <option value = "{{user.id}}">{{user}}</option>
       {% endfor %}
     </select>
     <input id ="amount" class ="field" type = "number" autofocus autocomplete="off" placeholder="Amount" name = "amount" />
     <input class ="submit" type ="submit" value = "Submit" />
    </div>
 </form>

 {% endblock %}
