{% extends "accounts/base.html"%}

{% block title %} Expenses  {%  endblock %}

{% block body %}
<a  class = "homepage" href ="{% url 'index'  %}"> Back to Homepage </a>
<h1> From {{startDate}} : {{endDate}}</h1>
{% if status == "success" %}
  <table>
    <tr>
      <td> Date </td>
      <td> Expense</td>
      <td> Amount </td>
    </tr>
    <h1 class ="extra"> Total Expense : Rs. {{total.amount__sum}} </h1>
    {% for data in expenseData %}
      <tr>
        <td> {{data.dateId}} </td>
        <td> {{data.item}} </td>
        <td> {{data.amount}} </td>
      </tr>
    {% endfor %}
    </table>
{% else %}
  <h1> No expenses !!! </h1>
{% endif %}
{% endblock %}
