{% extends "accounts/base.html" %}

{% block title %} Homepage {% endblock %}


{% block body %}
<h1> Hi Brahmaji !!! </h1>
<p><a href="{% url 'logout' %}">Logout</a></p>
  <div class="div">
    <li>
      <a href="{% url 'sheetEntry'%}">Sheet Entry </a>
    </li>
    <li>
      <a href="{% url 'user' %}">Users </a>
    </li>
    <li>
      <a href="{% url 'expenseDate' %}">View Expenses </a>
    </li>

  </div>
{% endblock %}





















<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <style>
      body {
        background: black;
        color: orange;
        font-family: "Open Sans", sans-serif;
      }
    </style>

  </head>
  <body>
    <h1> Hi Brahmaji !!! </h1>
      <div class="div">
        <li>
          <a href="{% url 'sheetEntry'%}">Sheet Entry </a>
        </li>
        <li>
          <a href="{% url 'user' %}">Users </a>
        </li>

      </div>

  </body>
</html> -->
