{% extends "accounts/base.html" %}

{%  block  title %} Users {% endblock %}

{% block body %}
<a  class = "homepage" href ="{% url 'index'  %}"> Back to Homepage </a>
<h1> Menu !!!  </h1>
  <li>
    <a href ="{% url 'statement' %}">User Statement</a>
  </li>
  <li>
    <a href ="{% url 'newAccount' %}">Open an Account </a>
  </li>
  <li>
    <a href ="{% url 'closeAccount' %}"> Close an Account </a>
  </li>
  <li>
    <a href ="{% url 'deleteUser' %}"> Delete an User </a>
  </li>
{% endblock %}
